---
title: Accounts
---
<div class="container">
  <div id="article">
  <h1>Konton</h1>
  <ul class="posts">

    {% if site.domain_site %}
      <h3>Domän</h3>
      <p>domän: {{ site.domain_site }} <br>
        Email: {{ site.domain_email }} <br>
        Lösenord: {{ site.domain_password }}</p>
    {% endif %}

    {% if site.gmail_account %}
      <h3>Gmail</h3>
      <p>Konto: {{ site.gmail_account }} <br>
        Lösenord: {{ site.gmail_password }}</p>
    {% endif %}

    {% if site.github_account %}
      <h3>Github</h3>
      <p>Konto: {{ site.github_account }} <br>
        Lösenord: {{ site.github_password }}</p>
    {% endif %}
  </ul>
</div>
