  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Välkommen {{site.name}}</h1>
      <h2>Hej {{site.customer}} och välkommen till WIMSE Webbutveckling. Denna webbplats kommer vi att använda oss utav under utvecklingen av din nya hemsida. När hemsidan är färdig kommer du att kunna komma tillbaka hit för att söka information om hur du hanterar den. Vissa meny artiklar är för närvarande inte aktiva. Detta eftersom det är områden som vi i startskedet inte har behov ut av. Allt eftersom dessa blir aktuella kommer dessa att aktiveras.</h2>
      <h2> Återigen, varmt välkommen till WIMSE! Vi hoppas du kommer känna dig bekväm i ditt val av webbyrå!</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
