<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand"><a style="border-bottom:none; color:#666;" href="{{ site.baseurl }}/">WIMSE</a></p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        {% if site.domain_site %}
          <li><a href="{{ site.baseurl }}/list.html">Uppdateringar</a></li>
          <li><a href="{{ site.baseurl }}/accounts.html">Dina konton</a></li>
        {% else %}
          <li style="color:#ddd"><a>Uppdateringar</a></li>
          <li style="color:#ddd"><a>Dina konton</a></li>
        {% endif %}
        <hr>

        {% if site.envir != "devel" %}
          <li><a href="http://{{ site.project }}/github.io">Din hemsida</a></li>
          <li><a href="prose.html">Skapa poster</a></li>
          <li><a href="{{ site.baseurl }}/markdown.html">Markdown</a></li>
        {% else %}
          <li style="color:#ddd"><a>Din hemsida</a></li>
          <li style="color:#ddd"><a>Skapa poster</a></li>
          <li style="color:#ddd"><a>Markdown</a></li>
        {% endif %}
        <hr>

        <li><a href="{{ site.baseurl }}/disqus.html">Chatta</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">WIMSE</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">WIMSE</h1></a><h3>{{ site.project}}</h3></li>
    <hr />

    {% if site.domain_site %}
      <li><a href="{{ site.baseurl }}/list.html">Uppdateringar</a></li>
      <li><a href="{{ site.baseurl }}/accounts.html">Dina konton</a></li>
    {% else %}
      <li style="color:#666">Uppdateringar</a></li>
      <li style="color:#666">Dina konton</a></li>
    {% endif %}
    <hr>

    {% if site.envir != "devel" %}
      <li><a href="http://{{ site.project }}/github.io">Din hemsida</a></li>
      <li><a href="prose.html">Skapa poster</a></li>
      <li><a href="{{ site.baseurl }}/markdown.html">Markdown</a></li>
    {% else %}
      <li style="color:#666">Din hemsida</li>
      <li style="color:#666">Skapa poster</li>
      <li style="color:#666">Markdown</li>
    {% endif %}
    <hr>

    <li><a href="{{ site.baseurl }}/disqus.html">Chatta</a></li>
    <li><a href="{{ site.baseurl }}/contact.html">WIMSE</a></li>

  </ul>
</div>
