<!-- Portfolio.html -->
  <section>

    <div class="row">
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c3.staticflickr.com/8/7390/16573562642_c8429af747_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c2.staticflickr.com/8/7447/16574701305_bdee481268_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c3.staticflickr.com/8/7390/16573562642_c8429af747_b.jpg" alt="" /></a>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c6.staticflickr.com/9/8339/8222734149_5f4e51cbf2_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c7.staticflickr.com/9/8570/15997107590_bbfd8f8ca2_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c5.staticflickr.com/9/8382/8540727516_9c75c47fa6_b.jpg" alt="" /></a>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c6.staticflickr.com/4/3847/15085819797_c1241cd855_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c4.staticflickr.com/6/5555/15111955899_734b30785e_b.jpg" alt="" /></a>
        </section>
      </div>
      <div class="4u">
        <section class="box">
          <a href="#" class="image featured"><img src="https://c7.staticflickr.com/4/3864/15298754542_e7283f4b78_b.jpg" alt="" /></a>
        </section>
      </div>
    </div>
  </section>
